<h2>What's in it</h2>
<%= simple_form_for [@cocktail, @dose] do |d| %>
  <%= d.association :ingredient %>
  <%= d.input :description %>
  <%= d.submit "Confirm", class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', cocktail_path(@cocktail) %>

